.CodeMirror-hints {
  position: absolute;
  z-index: 10;
  overflow: hidden;
  list-style: none;

  margin: 0;
  padding: 0;

  /* -webkit-box-shadow: 2px 3px 5px rgba(0,0,0,.2); */
  /* -moz-box-shadow: 2px 3px 5px rgba(0,0,0,.2); */
  /* box-shadow: 2px 3px 5px rgba(0,0,0,.2); */
  border-radius: 3px;
  border: 1px solid #4E4E4E;

  background: #3D3D3D;
  font-size: 90%;
  font-family: monospace;

  max-height: 20em;
  overflow-y: auto;
  margin: 0;
  min-width: 232px;
}

.CodeMirror-hint {
  margin: 0;
  padding: 6px;
  white-space: pre;
  color: white;
  cursor: pointer;
  font-size: 11px;
  line-height: 14.51px;
  font-weight: 400;
}

li.CodeMirror-hint-active {
  background: #1F63E7  ;
  color: white;
}
