/* BASICS */
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');
* {
  font-family: 'Roboto Mono', monospace;
}

.CodeMirror {
  /* Set height, width, borders, and global font properties here */
  /* font-family: monospace; */
  font-family: 'Roboto Mono', monospace;
  height: 300px;
  color: black;
  direction: ltr;
  padding-top: 15px;
  padding-bottom: 15px;
}

/* PADDING */

.CodeMirror-lines {
  padding: 4px 0;
  /* Vertical padding around content */
}

.CodeMirror pre.CodeMirror-line,
.CodeMirror pre.CodeMirror-line-like {
  padding: 0 4px;
  /* Horizontal padding of content */
}

.CodeMirror-scrollbar-filler,
.CodeMirror-gutter-filler {
  background-color: white;
  /* The little square between H and V scrollbars */
}

/* GUTTER */

.CodeMirror-gutters {
  border-right: 1px solid #2B2B2B;
  background-color: #2B2B2B;
  white-space: nowrap;
}

.CodeMirror-linenumbers {}

.CodeMirror-linenumber {
  padding: 0 3px 0 5px;
  min-width: 20px;
  text-align: right;
  color: #999;
  white-space: nowrap;
}

.CodeMirror-guttermarker {
  color: black;
}

.CodeMirror-guttermarker-subtle {
  color: #999;
}

/* CURSOR */

.CodeMirror-cursor {
  border-left: 1px solid #FFFFFF;
  border-right: none;
  width: 0;
}

/* Shown when moving in bi-directional text */
.CodeMirror div.CodeMirror-secondarycursor {
  border-left: 1px solid silver;
}

.cm-fat-cursor .CodeMirror-cursor {
  width: auto;
  border: 0 !important;
  background: #7e7;
}

.cm-fat-cursor div.CodeMirror-cursors {
  z-index: 1;
}

.cm-fat-cursor .CodeMirror-line::selection,
.cm-fat-cursor .CodeMirror-line>span::selection,
.cm-fat-cursor .CodeMirror-line>span>span::selection {
  background: transparent;
}

.cm-fat-cursor .CodeMirror-line::-moz-selection,
.cm-fat-cursor .CodeMirror-line>span::-moz-selection,
.cm-fat-cursor .CodeMirror-line>span>span::-moz-selection {
  background: transparent;
}

.cm-fat-cursor {
  caret-color: transparent;
}

@-moz-keyframes blink {
  0% {}

  50% {
    background-color: transparent;
  }

  100% {}
}

@-webkit-keyframes blink {
  0% {}

  50% {
    background-color: transparent;
  }

  100% {}
}

@keyframes blink {
  0% {}

  50% {
    background-color: transparent;
  }

  100% {}
}

/* Can style cursor different in overwrite (non-insert) mode */
.CodeMirror-overwrite .CodeMirror-cursor {}

.cm-tab {
  display: inline-block;
  text-decoration: inherit;
}

.CodeMirror-rulers {
  position: absolute;
  left: 0;
  right: 0;
  top: -50px;
  bottom: 0;
  overflow: hidden;
}

.CodeMirror-ruler {
  border-left: 1px solid #ccc;
  top: 0;
  bottom: 0;
  position: absolute;
}

/* DEFAULT THEME */

span {
  color: #FFFFFF;
}

.cm-s-default .cm-header {
  color: blue;
}

.cm-s-default .cm-quote {
  color: #090;
}

.cm-negative {
  color: #d44;
}

.cm-positive {
  color: #292;
}

.cm-header,
.cm-strong {
  font-weight: bold;
}

.cm-em {
  font-style: italic;
}

.cm-link {
  text-decoration: underline;
}

.cm-strikethrough {
  text-decoration: line-through;
}

.cm-s-default .cm-keyword {
  color: #FFB571;
}

.cm-s-default .cm-atom {
  color: #219;
}

.cm-s-default .cm-number {
  color: #AFCFA4;
}

.cm-s-default .cm-def {
  color: #CA87FF;
}

.cm-s-default .cm-variable,
.cm-s-default .cm-punctuation,
.cm-s-default .cm-property,
.cm-s-default .cm-operator {
  /* color: #75A4FF; */
}

.cm-s-default .cm-variable-2 {
  color: #05a;
}

.cm-s-default .cm-variable-3,
.cm-s-default .cm-type {
  color: #085;
}

.cm-s-default .cm-comment {
  color: #979797;
}

.cm-s-default .cm-string {
  color: #EA7C63;
}

.cm-s-default .cm-string-2 {
  color: #f50;
}

.cm-s-default .cm-meta {
  color: #555;
}

.cm-s-default .cm-qualifier {
  color: #555;
}

.cm-s-default .cm-builtin {
  color: #30a;
}

.cm-s-default .cm-bracket {
  color: #997;
}

.cm-s-default .cm-tag {
  color: #170;
}

.cm-s-default .cm-attribute {
  color: #00c;
}

.cm-s-default .cm-hr {
  color: #999;
}

.cm-s-default .cm-link {
  color: #00c;
}


.cm-s-default .cm-property,
.cm-s-default .cm-operator {
  color: #FFFFFF;
}

.cm-s-default .cm-error {
  color: #f00;
}

.cm-invalidchar {
  color: #f00;
}

.CodeMirror-composing {
  border-bottom: 2px solid;
}

/* Default styles for common addons */

div.CodeMirror span.CodeMirror-matchingbracket {
  color: #0b0;
}

div.CodeMirror span.CodeMirror-nonmatchingbracket {
  color: #a22;
}

.CodeMirror-matchingtag {
  background: rgba(255, 150, 0, .3);
}

.CodeMirror-activeline-background {
  background: #e8f2ff;
}

/* STOP */

/* The rest of this file contains styles related to the mechanics of
   the editor. You probably shouldn't touch them. */

.CodeMirror {
  position: relative;
  overflow: hidden;
  background: #2B2B2B;
}

.CodeMirror-scroll {
  overflow: scroll !important;
  /* Things will break if this is overridden */
  /* 50px is the magic margin used to hide the element's real scrollbars */
  /* See overflow: hidden in .CodeMirror */
  margin-bottom: -50px;
  margin-right: -50px;
  padding-bottom: 50px;
  height: 100%;
  outline: none;
  /* Prevent dragging from highlighting the element */
  position: relative;
  z-index: 0;
}

.CodeMirror-sizer {
  position: relative;
  border-right: 50px solid transparent;
}

/* The fake, visible scrollbars. Used to force redraw during scrolling
   before actual scrolling happens, thus preventing shaking and
   flickering artifacts. */
.CodeMirror-vscrollbar,
.CodeMirror-hscrollbar,
.CodeMirror-scrollbar-filler,
.CodeMirror-gutter-filler {
  position: absolute;
  z-index: 6;
  display: none;
  outline: none;
}

.CodeMirror-vscrollbar {
  right: 0;
  top: 0;
  overflow-x: hidden;
  overflow-y: scroll;
}

.CodeMirror-hscrollbar {
  bottom: 0;
  left: 0;
  overflow-y: hidden;
  overflow-x: scroll;
}

.CodeMirror-scrollbar-filler {
  right: 0;
  bottom: 0;
}

.CodeMirror-gutter-filler {
  left: 0;
  bottom: 0;
}

.CodeMirror-gutters {
  position: absolute;
  left: 0;
  top: 0;
  min-height: 100%;
  z-index: 3;
}

.CodeMirror-gutter {
  white-space: normal;
  height: 100%;
  display: inline-block;
  vertical-align: top;
  margin-bottom: -50px;
}

.CodeMirror-gutter-wrapper {
  position: absolute;
  z-index: 4;
  background: none !important;
  border: none !important;
}

.CodeMirror-gutter-background {
  position: absolute;
  top: 0;
  bottom: 0;
  z-index: 4;
}

.CodeMirror-gutter-elt {
  position: absolute;
  cursor: default;
  z-index: 4;
}

.CodeMirror-gutter-wrapper ::selection {
  background-color: transparent
}

.CodeMirror-gutter-wrapper ::-moz-selection {
  background-color: transparent
}

.CodeMirror-lines {
  cursor: text;
  min-height: 1px;
  /* prevents collapsing before first draw */
}

.CodeMirror pre.CodeMirror-line,
.CodeMirror pre.CodeMirror-line-like {
  /* Reset some styles that the rest of the page might have set */
  -moz-border-radius: 0;
  -webkit-border-radius: 0;
  border-radius: 0;
  border-width: 0;
  background: transparent;
  font-family: inherit;
  font-size: inherit;
  margin: 0;
  white-space: pre;
  word-wrap: normal;
  line-height: inherit;
  color: inherit;
  z-index: 2;
  position: relative;
  overflow: visible;
  -webkit-tap-highlight-color: transparent;
  -webkit-font-variant-ligatures: contextual;
  font-variant-ligatures: contextual;
}

.CodeMirror-wrap pre.CodeMirror-line,
.CodeMirror-wrap pre.CodeMirror-line-like {
  word-wrap: break-word;
  white-space: pre-wrap;
  word-break: normal;
}

.CodeMirror-linebackground {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: 0;
}

.CodeMirror-linewidget {
  position: relative;
  z-index: 2;
  padding: 0.1px;
  /* Force widget margins to stay inside of the container */
}

.CodeMirror-widget {}

.CodeMirror-rtl pre {
  direction: rtl;
}

.CodeMirror-code {
  outline: none;
}

/* Force content-box sizing for the elements where we expect it */
.CodeMirror-scroll,
.CodeMirror-sizer,
.CodeMirror-gutter,
.CodeMirror-gutters,
.CodeMirror-linenumber {
  -moz-box-sizing: content-box;
  box-sizing: content-box;
}

.CodeMirror-measure {
  position: absolute;
  width: 100%;
  height: 0;
  overflow: hidden;
  visibility: hidden;
}

.CodeMirror-cursor {
  position: absolute;
  pointer-events: none;
}

.CodeMirror-measure pre {
  position: static;
}

div.CodeMirror-cursors {
  visibility: hidden;
  position: relative;
  z-index: 3;
}

div.CodeMirror-dragcursors {
  visibility: visible;
}

.CodeMirror-focused div.CodeMirror-cursors {
  visibility: visible;
}

/* custom selected */
.CodeMirror-selected {
  background: #d9d9d9;
}

.CodeMirror-focused .CodeMirror-selected {
  background: #d9d9d9;
}

.CodeMirror-crosshair {
  cursor: crosshair;
}

.CodeMirror-line::selection,
.CodeMirror-line>span::selection,
.CodeMirror-line>span>span::selection {
  /* background: #d7d4f0; */
}

.CodeMirror-line::-moz-selection,
.CodeMirror-line>span::-moz-selection,
.CodeMirror-line>span>span::-moz-selection {
  /* background: #d7d4f0; */
}

.cm-searching {
  background-color: #ffa;
  background-color: rgba(255, 255, 0, .4);
}

/* Used to force a border model for a node */
.cm-force-border {
  padding-right: .1px;
}

@media print {

  /* Hide the cursor when printing */
  .CodeMirror div.CodeMirror-cursors {
    visibility: hidden;
  }
}

/* See issue #2901 */
.cm-tab-wrap-hack:after {
  content: '';
}

/* Help users use markselection to safely style text background */
span.CodeMirror-selectedtext {
  background: none;
}

/* custom height of line */
.CodeMirror-code>div {
  height: 35px;
}

/* todo */

.CodeMirror-line span {
  font-size: 12px;
  font-weight: 500;
}

.CodeMirror-line .f-cm-tag-selected {
  background-color: #0f67eb !important;
  border: 1px solid #0f67eb !important;
  outline: 2px solid #0f67eb !important;
  color: white !important;
}

/** Highlight formula tag  */
/* table tag */
.cm-single-table-tag {
  border: 1px solid #75A4FF;
  padding-top: 3px;
  padding-bottom: 3px;
  padding-left: 22px;
  padding-right: 6px;
  border-radius: 25px;
  position: relative;
  color: #75A4FF;
}

.cm-start-table-tag {
  border: 1px solid #75A4FF;
  padding-left: 5px;
  border-top-left-radius: 25px;
  border-bottom-left-radius: 25px;
  border-right: none;
  color: #75A4FF;
  padding-top: 3px;
  padding-bottom: 3px;
}
.cm-middle-table-tag {
  position: relative;
  border-top: 1px solid #75A4FF;
  border-bottom: 1px solid #75A4FF;
  color: #75A4FF;
  padding-top: 3px;
  padding-bottom: 3px;
}
.cm-middle-table-tag::before {
  content: '';
  position: absolute;
  width: 100%;
  height: 1px;
  top: -1px;
  left: -100%;
  background-color: #75A4FF;
}
.cm-middle-table-tag::after {
  content: '';
  position: absolute;
  width: 100%;
  height: 1px;
  bottom: -1px;
  left: -100%;
  background-color: #75A4FF;
}
.cm-end-table-tag {
  border: 1px solid #75A4FF;
  padding-right: 5px;
  border-top-right-radius: 25px;
  border-bottom-right-radius: 25px;
  position: relative;
  border-left: none;
  color: #75A4FF;
  padding-top: 3px;
  padding-bottom: 3px;
}
.cm-end-table-tag::before {
  content: '';
  position: absolute;
  width: 100%;
  height: 1px;
  top: -1px;
  left: -100%;
  background-color: #75A4FF;
}
.cm-end-table-tag::after {
  content: '';
  position: absolute;
  width: 100%;
  height: 1px;
  bottom: -1px;
  left: -100%;
  background-color: #75A4FF;
}
/* CurrentValue tag */
.cm-single-currentvalue-tag {
  border: 1px solid #CA87FF;
  padding-left: 22px;
  padding-right: 5px;
  border-radius: 25px;
  position: relative;
  color: #CA87FF;
  padding-top: 3px;
  padding-bottom: 3px;
}

.cm-start-currentvalue-tag,
.cm-start-currentvalue-tag--string,
.cm-start-currentvalue-tag--number,
.cm-start-currentvalue-tag--boolean,
.cm-start-currentvalue-tag--date {
  border: 1px solid #CA87FF;
  padding-left: 22px;
  border-top-left-radius: 25px;
  border-bottom-left-radius: 25px;
  border-right: none;
  position: relative;
  color: #CA87FF;
  padding-top: 3px;
  padding-bottom: 3px;
}
.cm-middle-currentvalue-tag,
.cm-middle-currentvalue-tag--string,
.cm-middle-currentvalue-tag--number,
.cm-middle-currentvalue-tag--boolean,
.cm-middle-currentvalue-tag--date {
  position: relative;
  border-top: 1px solid #CA87FF;
  border-bottom: 1px solid #CA87FF;
  color: #CA87FF;
  padding-top: 3px;
  padding-bottom: 3px;
}
.cm-middle-currentvalue-tag::before,
.cm-middle-currentvalue-tag--string::before,
.cm-middle-currentvalue-tag--number::before,
.cm-middle-currentvalue-tag--boolean::before,
.cm-middle-currentvalue-tag--date::before {
  content: '';
  position: absolute;
  width: 100%;
  height: 1px;
  top: -1px;
  left: -100%;
  background-color: #CA87FF;
}
.cm-middle-currentvalue-tag::after,
.cm-middle-currentvalue-tag--string::after,
.cm-middle-currentvalue-tag--number::after,
.cm-middle-currentvalue-tag--boolean::after,
.cm-middle-currentvalue-tag--date::after {
  content: '';
  position: absolute;
  width: 100%;
  height: 1px;
  bottom: -1px;
  left: -100%;
  background-color: #CA87FF;
}
.cm-end-currentvalue-tag,
.cm-end-currentvalue-tag--string,
.cm-end-currentvalue-tag--number,
.cm-end-currentvalue-tag--boolean,
.cm-end-currentvalue-tag--date {
  border: 1px solid #CA87FF;
  padding-right: 5px;
  border-top-right-radius: 25px;
  border-bottom-right-radius: 25px;
  position: relative;
  border-left: none;
  color: #CA87FF;
  padding-top: 3px;
  padding-bottom: 3px;
}
.cm-end-currentvalue-tag::before,
.cm-end-currentvalue-tag--string::before,
.cm-end-currentvalue-tag--number::before,
.cm-end-currentvalue-tag--boolean::before,
.cm-end-currentvalue-tag--date::before {
  content: '';
  position: absolute;
  width: 100%;
  height: 1px;
  top: -1px;
  left: -100%;
  background-color: #CA87FF;
}
.cm-end-currentvalue-tag::after,
.cm-end-currentvalue-tag--string::after,
.cm-end-currentvalue-tag--number::after,
.cm-end-currentvalue-tag--boolean::after,
.cm-end-currentvalue-tag--date::after {
  content: '';
  position: absolute;
  width: 100%;
  height: 1px;
  bottom: -1px;
  left: -100%;
  background-color: #CA87FF;
}
/* CurrentUser tag */
.cm-single-currentuser-tag {
  border: 1px solid #FFB571;
  padding-left: 22px;
  padding-right: 5px;
  border-radius: 25px;
  position: relative;
  color: #FFB571;
  padding-top: 3px;
  padding-bottom: 3px;
}

.cm-start-currentuser-tag,
.cm-start-currentuser-tag--string,
.cm-start-currentuser-tag--number,
.cm-start-currentuser-tag--boolean,
.cm-start-currentuser-tag--date {
  border: 1px solid #FFB571;
  padding-left: 22px;
  border-top-left-radius: 25px;
  border-bottom-left-radius: 25px;
  border-right: none;
  position: relative;
  color: #FFB571;
  padding-top: 3px;
  padding-bottom: 3px;
}
.cm-middle-currentuser-tag {
  position: relative;
  border-top: 1px solid #FFB571;
  border-bottom: 1px solid #FFB571;
  color: #FFB571;
  padding-top: 3px;
  padding-bottom: 3px;
}
.cm-middle-currentuser-tag::before {
  content: '';
  position: absolute;
  width: 100%;
  height: 1px;
  top: -1px;
  left: -100%;
  background-color: #FFB571;
}
.cm-middle-currentuser-tag::after {
  content: '';
  position: absolute;
  width: 100%;
  height: 1px;
  bottom: -1px;
  left: -100%;
  background-color: #FFB571;
}
.cm-end-currentuser-tag {
  border: 1px solid #FFB571;
  padding-right: 5px;
  border-top-right-radius: 25px;
  border-bottom-right-radius: 25px;
  position: relative;
  border-left: none;
  color: #FFB571;
  padding-top: 3px;
  padding-bottom: 3px;
}
.cm-end-currentuser-tag::before {
  content: '';
  position: absolute;
  width: 100%;
  height: 1px;
  top: -1px;
  left: -100%;
  background-color: #FFB571;
}
.cm-end-currentuser-tag::after {
  content: '';
  position: absolute;
  width: 100%;
  height: 1px;
  bottom: -1px;
  left: -100%;
  background-color: #FFB571;
}

.cm-single-placeholder-tag {
  background-color: #919191;
  border-radius: 25px;
  padding-top: 3px;
  padding-bottom: 3px;
  padding-left: 22px;
  padding-right: 12px;
  position: relative;
  text-decoration: unset !important;
}

.cm-single-placeholder-tag::before {
  content: 'Pl';
  position: absolute;
  left: 5px;
  height: 100%;
  top: 3px;
  display: inline-block;
  opacity: 1;
  font-weight: bold;
  font-size: 11px;
}

/* style icon */
.cm-single-table-tag::before,
.cm-start-table-tag::before,
.cm-start-table-tag--string::before,
.cm-start-table-tag--number::before,
.cm-start-table-tag--boolean::before,
.cm-start-table-tag--date::before {
  content: '';
  position: absolute;
  width: 16px;
  height: 16px;
  top: 50%;
  left: 5px;
  display: inline-block;
  opacity: 1;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  transform: translateY(-50%);

  -webkit-mask-size: cover;
  mask-size: cover;
  background-color: #75A4FF;
}

.cm-single-currentvalue-tag::before,
.cm-start-currentvalue-tag::before,
.cm-start-currentvalue-tag--string::before,
.cm-start-currentvalue-tag--number::before,
.cm-start-currentvalue-tag--boolean::before,
.cm-start-currentvalue-tag--date::before {
  content: '';
  position: absolute;
  width: 16px;
  height: 16px;
  top: 50%;
  left: 5px;
  display: inline-block;
  opacity: 1;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  transform: translateY(-50%);

  -webkit-mask-size: cover;
  mask-size: cover;
  background-color: #CA87FF;
}

.cm-single-currentuser-tag::before,
.cm-start-currentuser-tag::before,
.cm-start-currentuser-tag--string::before,
.cm-start-currentuser-tag--number::before,
.cm-start-currentuser-tag--boolean::before,
.cm-start-currentuser-tag--date::before {
  content: '';
  position: absolute;
  width: 16px;
  height: 16px;
  top: 50%;
  left: 5px;
  display: inline-block;
  opacity: 1;
  background-position: center;
  background-size: cover;
  transform: translateY(-50%);

  -webkit-mask-size: cover;
  mask-size: cover;
  background-color: #FFB571;
}

.cm-single-table-tag::before, .cm-start-table-tag::before {
  -webkit-mask: url('./icons/ic-current-value-tag-type.svg');
  mask: url('./icons/ic-current-value-tag-type.svg');
}

.cm-single-currentvalue-tag::before, .cm-start-currentvalue-tag::before {
  -webkit-mask: url('./icons/ic-current-value-tag-type.svg');
  mask: url('./icons/ic-current-value-tag-type.svg');
}

.cm-single-currentuser-tag::before, .cm-start-currentuser-tag::before {
  -webkit-mask: url('./icons/ic-current-user-tag-type.svg');
  mask: url('./icons/ic-current-user-tag-type.svg');
}

.cm-start-table-tag--string::before,
.cm-start-currentvalue-tag--string::before,
.cm-start-currentuser-tag--string::before {
  -webkit-mask: url('./icons/ic-string-tag-type.svg');
  mask: url('./icons/ic-string-tag-type.svg');
}
.cm-start-table-tag--number::before,
.cm-start-currentvalue-tag--number::before,
.cm-start-currentuser-tag--number::before {
  -webkit-mask: url('./icons/ic-number-tag-type.svg');
  mask: url('./icons/ic-number-tag-type.svg');
}


/* style dots */
.cm-start-table-tag ~ .cm-dots-table-tag, 
.cm-middle-table-tag ~ .cm-dots-table-tag,
.cm-start-table-tag--string ~ .cm-dots-table-tag,
.cm-middle-table-tag--string ~ .cm-dots-table-tag,
.cm-start-table-tag--number ~ .cm-dots-table-tag,
.cm-middle-table-tag--number ~ .cm-dots-table-tag,
.cm-start-table-tag--boolean ~ .cm-dots-table-tag,
.cm-middle-table-tag--boolean ~ .cm-dots-table-tag,
.cm-start-table-tag--date ~ .cm-dots-table-tag,
.cm-middle-table-tag--date ~ .cm-dots-table-tag {
  color: #75A4FF;
}
.cm-start-currentvalue-tag ~ .cm-dots-currentvalue-tag,
.cm-middle-currentvalue-tag ~ .cm-dots-currentvalue-tag,
.cm-start-currentvalue-tag--string ~ .cm-dots-currentvalue-tag,
.cm-middle-currentvalue-tag--string ~ .cm-dots-currentvalue-tag,
.cm-start-currentvalue-tag--number ~ .cm-dots-currentvalue-tag,
.cm-middle-currentvalue-tag--number ~ .cm-dots-currentvalue-tag,
.cm-start-currentvalue-tag--boolean ~ .cm-dots-currentvalue-tag,
.cm-middle-currentvalue-tag--boolean ~ .cm-dots-currentvalue-tag,
.cm-start-currentvalue-tag--date ~ .cm-dots-currentvalue-tag,
.cm-middle-currentvalue-tag--date ~ .cm-dots-currentvalue-tag {
  color: #CA87FF;
}
.cm-start-currentuser-tag ~ .cm-dots-currentuser-tag,
.cm-middle-currentuser-tag ~ .cm-dots-currentuser-tag,
.cm-start-currentuser-tag--string ~ .cm-dots-currentuser-tag,
.cm-middle-currentuser-tag--string ~ .cm-dots-currentuser-tag,
.cm-start-currentuser-tag--number ~ .cm-dots-currentuser-tag,
.cm-middle-currentuser-tag--number ~ .cm-dots-currentuser-tag,
.cm-start-currentuser-tag--boolean ~ .cm-dots-currentuser-tag,
.cm-middle-currentuser-tag--boolean ~ .cm-dots-currentuser-tag,
.cm-start-currentuser-tag--date ~ .cm-dots-currentuser-tag,
.cm-middle-currentuser-tag--date ~ .cm-dots-currentuser-tag {
  color: #FFB571;
}
.cm-dots-placeholder-tag {
  /* color: #75A4FF; */
}
.cm-dots-namespace-tag {
  /* color: #75A4FF; */
}

.cm-variable ~ .cm-dots-currentvalue-tag {
  /* color:  white !important; */
}

/* style cursor */
.cm-single-table-tag,
  .cm-start-table-tag,
  .cm-middle-table-tag,
  .cm-end-table-tag, 
  .cm-single-currentvalue-tag,
  .cm-start-currentvalue-tag,
  .cm-middle-currentvalue-tag,
  .cm-end-currentvalue-tag,
  .cm-single-currentuser-tag,
  .cm-start-currentuser-tag,
  .cm-middle-currentuser-tag,
  .cm-end-currentuser-tag,
  .cm-single-placeholder-tag,
  .cm-start-placeholder-tag,
  .cm-middle-placeholder-tag,
  .cm-end-placeholder-tag,
  .cm-single-namespace-tag,
  .cm-start-namespace-tag,
  .cm-middle-namespace-tag,
  .cm-end-namespace-tag,
  .cm-start-table-tag--string,
  .cm-start-table-tag--number,
  .cm-start-table-tag--boolean,
  .cm-start-table-tag--date,
  .cm-start-currentvalue-tag--string,
  .cm-start-currentvalue-tag--number,
  .cm-start-currentvalue-tag--boolean,
  .cm-start-currentvalue-tag--date,
  .cm-start-currentuser-tag--string,
  .cm-start-currentuser-tag--number,
  .cm-start-currentuser-tag--boolean,
  .cm-start-currentuser-tag--date,
  .cm-dots-table-tag,
  .cm-dots-currentvalue-tag,
  .cm-dots-currentuser-tag{
    cursor: context-menu;
  }
  
/* .cm-single-table-tag::before {
  content: '';
  position: static;
  display: inline-block;
}
.cm-single-table-tag {
  padding-left: 0 !important;
} */

/* custom selected */
.formula-codeMirror .CodeMirror-selected  {
  border-radius: 20px;
}

.cmw-snippet-tabstop {
  text-decoration: unset !important;
}
